<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuizMasterDBEntities" connectionString="metadata=res://*/Data.Quiz.csdl|res://*/Data.Quiz.ssdl|res://*/Data.Quiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOVE-PC\SQLEXPRESS;initial catalog=QuizMasterDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>